<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <p class="navbar-text">{{title}}</p>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#each filterGroups as |filterGroup|}}
          {{list-card/header-dropdown
            dropdownItems=filterGroup.filterOptions
            name=filterGroup.name
            queryTokens=queryTokens
            onItemSelect=(action 'selectItem')
            onItemDeselect=(action 'deselectItem')
            onItemReplace=(action 'replaceItem')
          }}
        {{/each}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
